html {
  background-color: #141414;
}
:root {
  --login-box-bg: #ffffff0a;
  --login-secondary: #c2c2c2a4;
  --login-accent: #e49d33;
  --login-accent-2: #ffa238;
}
#onboard-container {
  max-width: 500px;
  padding: 15px;
}
#reset-box {
  background-color: var(--login-box-bg);
  padding: 40px 80px;
  border-radius: 20px;
  margin: 30px 0;
  backdrop-filter: blur(5px);
}
#org-title {
  margin-bottom: 20px;
}
#org-icon {
  height: 50px;
  width: 50px;
}
#org-name {
  margin-left: 20px;
}
#org-name,
.reset-text-primary {
  color: var(--text-primary);
  font-size: 30px;
}
.reset-text-primary {
  margin-bottom: 20px;
}
#reset-email {
  color: var(--text-primary);
  font-size: 18px;
}
.reset-text-secondary {
  color: var(--login-secondary);
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}
.input-pair {
  margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: 7px;
  border: solid 1px var(--login-secondary);
  transition: border-color 0.2s;
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
  box-sizing: border-box;
  padding: 10px 10px 10px 70px;
  font-size: 18px;
  color: var(--text-primary);
  width: 100%;
  transition: border-color 0.2s;
}
input[type="text"]:active,
input[type="text"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="password"]:active,
input[type="password"]:focus {
  border: solid 1px var(--login-accent);
  outline: none;
}
input[type="text"]::placeholder {
  color: var(--login-secondary);
}
#reset-password-button,
#to-dashboard-button {
  background: linear-gradient(40deg, var(--login-accent-2) 0%, var(--login-accent) 100%);
  background-color: var(--login-accent);
  color: var(--text-primary);
  border-radius: 10px;
  border: none;
  height: 45px;
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.2s;
}
.input-icon {
  position: absolute;
  box-sizing: border-box;
  height: 50px;
  width: 70px;
  padding: 15px 25px;
  font-size: 0px;
  color: transparent;
  overflow: hidden;
  cursor: help;
  user-select: none;
}
.input-icon > * {
  pointer-events: none;
  user-select: none;
}
#signup {
  margin-bottom: 20px;
}
#other-options {
  color: var(--login-secondary);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
}
#other-options a[href],
a[data-auth-role],
#other-options a[href]:visited,
#other-options :-webkit-any-link {
  color: var(--login-accent);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

/* background */
@media (max-width: 500px) {
  body {
    background-size: cover;
  }
  #reset-box {
    background: none;
    backdrop-filter: none;
    padding: 20px;
    margin-bottom: 10px;
  }
}
html {
  background-image: url(../img/login-accents.png);
  /* background-position: bottom center; */
  /* background-image: url(../img/login-accents.svg); */
}
body {
  padding: 0 !important;
}
@media (max-width: 500px) {
  body {
    background-size: cover;
  }
}
@media (min-width: 700px) {
  #onboard-container {
    width: 500px;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-internal-autofill-selected {
  border: solid 1px var(--text-primary) !important;
  color: var(--text-primary) !important;
  -webkit-text-fill-color: var(--text-primary) !important;
  background: #e49d33aa !important;
  appearance: none;
  -webkit-box-shadow: 0 0 0 50px #141414dd inset !important;
}
#small-art-icon {
  height: auto;
  width: 200px;
  margin: 0 auto;
}
*:not(#small-art-icon) > #small-art-icon {
  margin-bottom: 20px;
}
