html {
  background-color: #141414;
}
:root {
  --login-box-bg: #ffffff0a;
  --login-secondary: #c2c2c2a4;
  --login-accent: #e49d33;
  --login-accent-2: #ffa238;
}
#onboard-container {
  max-width: 500px;
  padding: 15px;
}
#login-box {
  padding: 40px;
  margin: 30px 0;
  backdrop-filter: blur(5px);
}
#org-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100vw;
  overflow: hidden;
}
#org-name {
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 50px;
  text-overflow: ellipsis;
}
#org-icon {
  height: 50px;
  width: 50px;
}
#org-name {
  margin-left: 20px;
}
#org-name,
.signup-text-primary {
  color: var(--text-primary);
  font-size: 30px;
}

.signup-text-secondary {
  color: var(--login-secondary);
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 20px;
}
.input-pair {
  margin: 10px 0;
}
input[type="checkbox"] {
  position: absolute;
  height: 0px;
  width: 0px;
  z-index: -1;
  opacity: 0;
}
.checkbox-label {
  color: var(--login-secondary);
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  transition: color 0.1s ease-out;
}
.checkbox-label .checkbox-icon {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: var(--login-secondary);
  margin-right: 10px;
  transition: background-color 0.1s ease-out;
  background-image: url(../img/icon/login/check-alt.png);
  background-image: url(../img/icon/login/check-alt.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
input:checked + .checkbox-label {
  color: var(--text-primary);
}
input:checked + .checkbox-label .checkbox-icon {
  background-color: var(--login-accent);
  background-image: url(../img/icon/login/check.png);
  background-image: url(../img/icon/login/check.svg);
}
input[type="text"],
input[type="email"],
input[type="name"],
input[type="password"] {
  border-radius: 7px;
  border: solid 1px var(--login-secondary);
  transition: border-color 0.2s;
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
  box-sizing: border-box;
  padding: 10px 10px 10px 70px;
  font-size: 18px;
  color: var(--text-primary);
  width: 100%;
  transition: border-color 0.2s;
}
input[type="text"]:active,
input[type="text"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="name"]:active,
input[type="name"]:focus,
input[type="password"]:active,
input[type="password"]:focus {
  border: solid 1px var(--login-accent);
  outline: none;
}
input[type="text"]::placeholder {
  color: var(--login-secondary);
}
#create-account {
  background: linear-gradient(40deg, var(--login-accent-2) 0%, var(--login-accent) 100%);
  background-color: var(--login-accent);
  color: var(--text-primary);
  border-radius: 10px;
  border: none;
  height: 50px;
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.2s;
  margin-bottom: 40px;
}
.input-icon {
  position: absolute;
  box-sizing: border-box;
  height: 50px;
  width: 70px;
  padding: 15px 25px;
  font-size: 0px;
  color: transparent;
  overflow: hidden;
  cursor: help;
  user-select: none;
}
.input-icon > * {
  pointer-events: none;
  user-select: none;
}
#signup {
  margin-bottom: 20px;
}
#other-options {
  color: var(--login-secondary);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
}
#other-options a[href],
#other-options a[href]:visited,
#other-options :-webkit-any-link {
  color: var(--login-accent);
  font-weight: 600;
  text-decoration: none;
}
#artwork-container {
  display: none;
  flex-grow: 1;
  padding: 50px;
  height: 100%;
  box-sizing: border-box;
  max-height: 70vh;
}
#artwork-container > * {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#artwork-container,
#onboard-container {
  flex-basis: 50%;
}

/* background */
@media (min-width: 1100px) {
  #right-side-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
  }
  #artwork-container {
    display: flex;
  }
  #onboard-container {
    padding: 15px 100px;
  }
}
@media (max-width: 500px) {
  #artwork-container {
    display: none;
  }
  #org-title {
    left: 50%;
    transform: translateX(-50%);
  }
  body {
    background-size: cover;
  }
  #login-box {
    background: none;
    backdrop-filter: none;
    padding: 20px;
    margin-bottom: 10px;
  }
}
html {
  background-image: url(../img/signup-accents.png);
  /* background-image: url(../img/signup-accents.svg); */
}
body {
  background-image: url(../img/signup-bottom-accent.png);
  /* background-image: url(../img/signup-bottom-accent.svg); */
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: 0 !important;
}
@media (max-width: 500px) {
  body {
    background-size: cover;
  }
}
@media (min-width: 700px) {
  #onboard-container {
    width: 340px;
  }
}
